body {
  scrollbar-face-color: SILVER;
  scrollbar-shadow-color: BLACK;
  scrollbar-highlight-color: RED;
  scrollbar-3dlight-color: GREEN;
  scrollbar-darkshadow-color: LIME;
  scrollbar-track-color: YELOW;
  scrollbar-arrow-color: RED;
}
